<a href="https://colab.research.google.com/github/rcm2000/Pythonproject/blob/master/titianic_no_onehot_logisticregression.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import seaborn as sns
df = sns.load_dataset('titanic')

In [2]:
df

     survived  pclass     sex   age  ...  deck  embark_town  alive  alone
0           0       3    male  22.0  ...   NaN  Southampton     no  False
1           1       1  female  38.0  ...     C    Cherbourg    yes  False
2           1       3  female  26.0  ...   NaN  Southampton    yes   True
3           1       1  female  35.0  ...     C  Southampton    yes  False
4           0       3    male  35.0  ...   NaN  Southampton     no   True
..        ...     ...     ...   ...  ...   ...          ...    ...    ...
886         0       2    male  27.0  ...   NaN  Southampton     no   True
887         1       1  female  19.0  ...     B  Southampton    yes   True
888         0       3  female   NaN  ...   NaN  Southampton     no  False
889         1       1    male  26.0  ...     C    Cherbourg    yes   True
890         0       3    male  32.0  ...   NaN   Queenstown     no   True

[891 rows x 15 columns]

pclass,sex,sibsp,parch,embarked,class,who,adult_male,embark_town,alive,alone

In [3]:
import pandas as pd

In [6]:
X = df[['fare','pclass']]
Y = df['survived']
X.shape,Y.shape

((891, 2), (891,))

In [7]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
scaler.fit(X)
X = scaler.transform(X)

In [8]:
X[:5]

array([[-0.50244517,  0.82737724],
       [ 0.78684529, -1.56610693],
       [-0.48885426,  0.82737724],
       [ 0.42073024, -1.56610693],
       [-0.48633742,  0.82737724]])

In [9]:
from sklearn.model_selection import train_test_split
X_train , X_test,Y_train,Y_test = train_test_split(X,Y)

from sklearn.linear_model import LogisticRegression
logR = LogisticRegression()

In [10]:
logR.fit(X_train,Y_train)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=None, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

In [11]:
logR.score(X_train,Y_train)

0.6736526946107785